html {
    color: #ebebeb;
}

canvas#view {
    background-color: #1b1b1b;
}

tool {
    border-color: #444;
}

tool:hover, tool.active:hover {
    background-color: #333333cc;
}

tool.active {
    background-color: #33333380;
}

tool *:not(wheel, line, eraser, svg) {
    background-color: white;
}

tool svg, tool svg circle {
    stroke: white;
}

powerup {
    border-color: white;
}