html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

window-frame {
    background-color: var(--background);
    color: #80808080;
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

window-frame label {
    font-size: 10px;
    padding: 0 4px;
    position: relative;
    -webkit-app-region: no-drag;
}

window-frame label:hover {
    color: #808080ad;
}

window-frame div[data-position="left"] > * {
    max-height: 1.25rem;
    padding: 0.25rem;
    vertical-align: middle;
}

window-frame div[data-position="right"] {
    display: flex;
    -webkit-app-region: no-drag;
}

window-frame button {
    aspect-ratio: auto;
    background-color: transparent;
    border-radius: 0;
    height: -webkit-fill-available;
    padding: 0.25rem 1rem;
    position: relative;
    vertical-align: middle;
}

window-frame button:hover {
    background-color: #80808030;
    color: var(--text);
}

window-frame button:hover:active {
    background-color: #80808050;
}

window-frame button#maximize[title="Restore"]::before {
    content: "▢";
    position: absolute;
    top: 6px;
    left: 14px;
}

window-frame button#close:hover {
    background-color: #ff0000dd;
}

window-frame button#close:hover:active {
    background-color: #ff000090;
}

canvas#view {
    width: 100vw;
    height: 100vh;
    background-color: white;
}

game-container {
	display: block;
	width: fit-content;
	position: relative;
    margin: auto;
}

game-container game-interface {
	position: absolute;
	display: block;
	z-index: 1;
	width: 100%;
    height: 100%;
	pointer-events: none;
}

game-interface game-overlay {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    pointer-events: all;
    position: absolute;
}

game-overlay nav {
    width: 40vw;
    display: flex;
    justify-content: center;
}

game-overlay nav button {
    width: 100%;
    border: none;
    color: white;
    margin: 1px 2px;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: .8;
    background-color: rgba(0, 0, 0, .4);
    transition: background-color 80ms;
    user-select: none;
    -webkit-user-select: none;
}

game-overlay nav button:hover {
    background-color: rgba(255, 255, 255, .1);
}

game-overlay nav button.active {
    opacity: 1;
    background-color: rgba(255, 255, 255, .08);
}

game-overlay div {
    align-items: center;
    display: none;
    flex-direction: column;
    min-height: 34vh;
}

div button {
    border: none;
    color: white;
    width: 100%;
    margin: 1px 2px;
    padding: 8px 14px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .04);
    transition: background-color 40ms;
}

div button:hover {
    background-color: rgba(255, 255, 255, .14);
}

div textarea {
    border: none;
    padding: 5px;
    outline: none;
    color: white;
    margin-top: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .4);
    resize: none;
}

game-interface game-toolbar {
    top: 0;
    width: 100%;
    display: block;
    position: absolute;
    user-select: none;
    pointer-events: all;
    -webkit-user-select: none;
}

game-toolbar settings, game-toolbar settings div[data-id=eraser] {
    display: none;
    margin-top: 25px;
}

game-toolbar div.left, game-toolbar div.right {
    position: absolute;
}

game-toolbar div.left {
    left: 0;
}

game-toolbar div.right {
    right: 0;
}

game-toolbar tool {
    width: 1em;
    height: 1em;
    padding: 8px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

tool:hover {
    transition: all 40ms;
    background-color: #333;
}

tool::before {
    transition: all 200ms;
}

tool * {
    display: block;
    width: inherit;
    height: inherit;
    pointer-events: none;
    transition: all 200ms;
}

tool.disabled {
    opacity: .4;
}

tool.disabled:hover {
    cursor: not-allowed;
    pointer-events: none;
}

game-toolbar div.left tool {
    border-right-width: 1px;
    border-right-style: solid;
}

game-toolbar div.right tool {
    border-left-width: 1px;
    border-left-style: solid;
}

tool.playpause::before {
    clip-path: polygon(
        0 0,
        50% 25%,
        50% 75%,
        50% 75%,
        50% 25%,
        100% 50%,
        100% 50%,
        0 100%
    );
}

tool.playpause.playing::before {
    clip-path: polygon(
        0 0,
        40% 0,
        40% 100%,
        60% 100%,
        60% 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

tool.backtrack::before {
    clip-path: polygon(
        0 0,
        20% 0,
        20% 50%,
        100% 0,
        100% 100%,
        20% 50%,
        20% 100%,
        0 100%
    );
}

tool.rewind::before {
    clip-path: polygon(
        0 0,
        20% 0,
        20% 50%,

        /* arrow left midway end */
        60% 0,
        60% 50%,

        /* arrow left midway arrow left*/
        100% 0,
        100% 100%,
        50% 50%,
        60% 50%,

        60% 100%,
        20% 50%,
        20% 100%,
        0 100%
    );
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

wheel,
line {
    display: block;
    background-color: transparent;
}

tool:active wheel {
    animation: none;
}

tool:focus wheel {
    animation: rotate 1s ease;
}

tool svg {
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    background-color: transparent;
}

wheel svg {
    stroke: #777;
}

wheel svg circle {
    fill: none;
    stroke-width: 2.5;
}

tool.brush::before {
    clip-path: circle(20%);
}

tool.scenery::before {
    background-color: #aaa;
}

tool::before,
tool.powerup.triangle::after,
tool.grid::after {
    content: "";
    width: inherit;
    height: inherit;
    position: absolute;
}

tool.line::before {
    border-radius: 4px;
    clip-path: polygon(
        90% 0,
        0 90%,
        10% 100%,
        100% 10%
    );
}

tool.eraser::before {
    clip-path: circle(45%);
    background-color: #ffb6c1;
}

tool.camera::before {
    clip-path: polygon(
        50% 0,
        30% 25%,
        45% 25%,
        45% 45%,
        25% 45%,
        25% 30%,
        0 50%,
        25% 70%,
        25% 55%,
        45% 55%,
        45% 75%,
        30% 75%,
        50% 100%,
        70% 75%,
        55% 75%,
        55% 55%,
        75% 55%,
        75% 70%,
        100% 50%,
        75% 30%,
        75% 45%,
        55% 45%,
        55% 25%,
        70% 25%,
        50% 0
    );
}

tool.grid::before {
    background-color: #eee;
    border-radius: 20%;
    clip-path: polygon(
        55% 45%,
        55% 5%,
        45% 5%,
        45% 45%,
        55% 45%,
        95% 45%,
        95% 55%,
        55% 55%,
        55% 95%,
        45% 95%,
        45% 55%,
        5% 55%,
        5% 45%
    );
}

tool.grid::after {
    background-color: #eee;
    border-radius: 20%;
    clip-path: polygon(
        30% 80%,
        30% 5%,
        20% 5%,

        20% 20%,
        5% 20%,
        5% 30%,
        20% 30%,

        /* MIDDLE HORIZONTAL
        20% 45%,
        0 45%,
        0 55%,
        20% 55%,
        END MIDDLE HORIZONTAL */

        20% 70%,
        5% 70%,
        5% 80%,
        20% 80%,

        20% 95%,
        30% 95%,
        30% 80%,

        70% 80%,
        70% 95%,
        80% 95%,
        80% 80%,

        95% 80%,
        95% 70%,
        80% 70%,

        80% 30%,
        95% 30%,
        95% 20%,
        80% 20%,

        80% 5%,
        70% 5%,

        70% 70%,
        30% 70%,

        30% 20%,
        70% 20%,
        70% 30%,
        30% 30%,

        30% 70%

    );
}

tool.powerup:not(.triangle)::before {
	border-width: 4px;
	border-style: solid;
	border-radius: 50%;
    box-sizing: border-box;
	clip-path: circle(30%);
}

tool.powerup.target::before {
    background-color: #ff0;
}

tool.powerup.checkpoint::before {
    background-color: #00f;
}

tool.powerup.triangle::before {
    clip-path: polygon(
        15% 25%,
        85% 50%,
        15% 75%,
        15% 25%
    );
}

tool.powerup.triangle::after {
    clip-path: polygon(
        25% 35%,
        60% 50%,
        25% 65%,
        25% 35%
    );
}

tool.powerup.triangle.boost::after {
    background-color: #ff0;
}

tool.powerup.triangle.gravity::after {
    background-color: #0f0;
}

tool.powerup.bomb::before {
    background-color: #f00;
}

tool.powerup.slowmo::before {
    background-color: #eee;
}

tool.powerup.antigravity::before {
    background-color: #0ff;
}

tool.powerup.teleport::before {
    background-color: #f0f;
}

tool.fullscreen::before {
    clip-path: polygon(
        0 40%,
        0 0,
        40% 0,
        40% 20%,
        20% 20%,
        20% 40%,
        0 40%,
        0 100%,
        40% 100%,
        40% 80%,
        20% 80%,
        20% 60%,
        0 60%,
        0 100%,
        100% 100%,
        100% 60%,
        80% 60%,
        80% 80%,
        60% 80%,
        60% 100%,
        100% 100%,
        100% 0,
        60% 0,
        60% 20%,
        80% 20%,
        80% 40%,
        100% 40%,
        100% 100%,
        0 100%
    );
}

:fullscreen tool.fullscreen::before {
    clip-path: polygon(
        0 40%,
        40% 40%,
        40% 0,
        20% 0,
        20% 20%,
        0 20%,
        0 60%,
        40% 60%,
        40% 100%,
        20% 100%,
        20% 80%,
        0 80%,
        0 100%,
        60% 100%,
        60% 60%,
        100% 60%,
        100% 80%,
        80% 80%,
        80% 100%,
        60% 100%,
        100% 100%,
        100% 40%,
        60% 40%,
        60% 0,
        80% 0,
        80% 20%,
        100% 20%,
        100% 40%,
        100% 100%,
        0 100%
    );
}

tool.increment::before {
    clip-path: polygon(
        40% 0,
        40% 40%,
        0 40%,
        0 60%,
        40% 60%,
        40% 100%,
        60% 100%,
        60% 60%,
        100% 60%,
        100% 40%,
        60% 40%,
        60% 0
    );
}

tool.decrement::before {
    clip-path: polygon(
        0 40%,
        100% 40%,
        100% 60%,
        0 60%
    );
}