canvas#view {
    background-color: white;
}

overlay nav button {
    color: black;
    background-color: rgba(0, 0, 0, .08);
}

overlay nav button:hover {
    background-color: rgba(0, 0, 0, .2);
}

overlay nav button.active {
    background-color: rgba(0, 0, 0, .24);
}

options button {
    color: black;
    background-color: rgba(0, 0, 0, .08);
}

options button:hover {
    background-color: rgba(0, 0, 0, .16);
}

tool {
    border-color: #bbb;
}

tool:hover, tool.active:hover {
    background-color: #ddddddcc;
}

tool.active {
    background-color: #dddddd80;
}

tool *:not(wheel, line, eraser, svg, playpause, backtrack, rewind, brush, camera, powerup, fullscreen, increment, decrement) {
    background-color: white;
}

tool svg, tool svg circle {
    stroke: black;
}

playpause, backtrack, rewind, brush, camera, powerup, fullscreen, increment, decrement {
    background-color: black;
}

powerup {
    border-color: black;
}